.app-header{
    position:absolute;
    height:98%;
    width:100%;
    /* background: linear-gradient(90deg,rgba(0, 0,0, 1)  0%, rgba(256, 256, 256, 1) 10%, rgba(256, 256, 256, 1) 90%,rgba(0, 0, 0, 1) 100%); */

}